# Data Science Tools and Ecosystems

## In this Notebook,Data Science Tools and Ecosystems are summerised

# Some of this widely used programming languages are in Data Science are
### 1.Python
### 2.R
### 3.SQL
### 4.JAVA

# Some of the Commonly used Libraries in Data Science are
### 1.Numpy
### 2.Pandas
### 3.Matplotlib
### 4.Seaborn
### 5.sklearn

# Some of commonly used tools in Data science are:
### Jupyter Notebook
### google collab
### Rstudio
### Aparche Zeppelin

# Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

# Objectives

### List popular languages for Data Science  
### Identify common Data Science tools  
### Perform basic arithmetic expressions using Python  
### Convert data units such as minutes to hours  
### Share Jupyter Notebooks via GitHub

# Author
## Varun Kumar Reddy Teneti